<div id="home-image">
  <form action="/artist-search" method="GET">
    <div>{{!-- 
      <label for="titulo" class="form-label">Título</label> --}}
      <input type="text" id="titulo" name="artista">
    </div>
    <button type="submit">Search for an artist</button>
  </form>
</div>
