<div id="tracks-estilo">
    <h2>tracks</h2>
    <ul>
        {{#each info}}
            <li>
                <p>title: {{name}}</p>
                <a href={{preview_url}}>listen a preview</a>
            </li>
        {{/each}}
    </ul>
</div>
